@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@600&display=swap');

@font-face {
    font-family: 'icons';
    src: url('fonts/icons.eot?elhwgi');
    src: url('fonts/icons.eot?elhwgi#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?elhwgi') format('truetype'),
    url('fonts/icons.woff?elhwgi') format('woff'),
    url('fonts/icons.svg?elhwgi#icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

#top-bar-home-link, #home-unauthenticated-container>.title {
    font-family: 'Phudu';
}

:root {
    --bg-color-primary: rgb(47, 79, 79);
}

* {
    margin: 0;
    color: inherit;
    font-family: 'Urbanist', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

html * {
    font-size: 1.2rem;
}

a:hover, button:hover {
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

input[type="password"] {
    letter-spacing: 0.3rem;
}

button {
    border: none;
}

iframe {
    border: none;
}

#top-bar-root {
    height: 3.2rem;
    width: 100%;
    position: relative;
    background: var(--bg-color-primary);
    color: #ffffff;
}

#top-bar-left-section {
    height: 100%;
    padding: 0 0.8rem;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#top-bar-left-section #top-bar-home-link {
    font-size: 1.6rem;
}

#top-bar-root a:hover {
    color: rgba(255, 255, 255, 0.8);
}

#top-bar-center-section {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

#top-bar-search-root {
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
}

#top-bar-search-root:focus-within {
    height: 2.2rem;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.4);
}

#top-bar-search-input {
    width: 8rem;
    margin: 0 0.3rem 0 0.9rem;
    font-size: 1rem;
    background: transparent;
    color: #ffffff;
}

#top-bar-search-input:focus {
    width: 10rem;
    font-size: 1.2rem;
}

#top-bar-search-button {
    height: 100%;
    width: 2.2rem;
    position: relative;
    background: transparent;
    color: #ffffff;
}

#top-bar-search-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

#top-bar-search-button>p {
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: 'icons';
}

#top-bar-right-section {
    height: 100%;
    padding: 0 0.8rem;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#top-bar-right-section * {
    font-size: 1rem;
}

#content-root {
    height: calc(100% - 3.2rem);
    width: 100%;
    position: relative;
    overflow: auto;
    background: #181818;
    color: #ffffff;
}

.page-root {
    min-height: 100%;
    width: 100%;
    position: relative;
}

#home-unauthenticated-root {
    width: calc(100% - 10rem);
    padding: 3rem 5rem;
}

#home-unauthenticated-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

#home-unauthenticated-container>p, #home-unauthenticated-container>a {
    display: block;
    text-align: center;
}

#home-unauthenticated-container>.title {
    margin: 8rem 0 3rem;
    font-size: 8rem;
}

#home-unauthenticated-container>p:nth-child(2) {
    margin-bottom: 4rem;
    font-size: 1.7rem;
}

#home-unauthenticated-container>p:nth-child(3) {
    font-size: 1.1rem;
}

#home-github-link {
    margin-top: 4rem;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    border: 1px solid #ffffff;
    text-decoration: none;
}

#home-unauthenticated-container>a:hover {
    background: rgba(255, 255, 255, 0.2);
}

#home-playlist-editor-root {
    width: 80%;
    padding: 4rem 0 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#home-playlist-editor-root>p:first-child {
    margin-bottom: 2rem;
    align-self: center;
    text-align: center;
    font-size: 2rem;
}

#home-playlist-editor-title {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

#home-playlist-editor-title>p {
    flex: 0 0 auto;
    font-size: 1.5rem;
}

#home-playlist-editor-title>input {
    flex: 1 1 0;
    font-size: 1.2rem;
    background: transparent;
}

#home-playlist-editor-root input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

#home-playlist-editor-root input:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

#home-playlist-editor-entries-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#home-playlist-editor-entries-container>div {
    height: 3rem;
    display: flex;
    align-items: center;
    background: var(--bg-color-primary);
}

#home-playlist-editor-entries-container input {
    margin: 0 1rem;
    flex: 1 1 0;
    font-size: 1.2rem;
    background: transparent;
    color: #ffffff;
}

#home-playlist-editor-entries-container button {
    height: 100%;
    flex: 0 0 auto;
    aspect-ratio: 1;
    font-size: 1.3rem;
    background: transparent;
    color: #ffffff;
    font-family: 'icons';
}

#home-playlist-editor-entries-container button:hover {
    background: rgba(0, 0, 0, 0.3);
}

#home-playlist-editor-add-button {
    height: 3rem;
    font-size: 0.9rem;
    font-family: 'icons';
    background: rgba(255, 255, 255, 0.2);
}

#home-playlist-editor-add-button:hover {
    background: rgba(255, 255, 255, 0.4);
}

#home-playlist-editor-button-strip {
    height: 3rem;
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    align-self: flex-end;
}

#home-playlist-editor-button-strip>button {
    height: 100%;
    padding: 0 2rem;
    font-size: 1.1rem;
}

#home-playlist-editor-clear-button {
    background: rgba(255, 0, 0, 0.2);
}

#home-playlist-editor-clear-button:hover {
    background: rgba(255, 0, 0, 0.4);
}

#home-playlist-editor-submit-button {
    background: rgba(255, 255, 255, 0.2);
}

#home-playlist-editor-submit-button:hover {
    background: rgba(255, 255, 255, 0.4);
}

#home-loading-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

#home-loading-overlay>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#login-root {
    padding: 3rem 2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    overflow: hidden;
    border-radius: 15px;
    background: var(--bg-color-primary);
}

#login-root>p {
    align-self: flex-start;
    font-size: 0.9rem;
}

#login-root>input {
    width: 12rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#login-root>input:focus {
    background: rgba(0, 0, 0, 0.4);
}

#login-root>button {
    margin-top: 0.6rem;
    padding: 0.6rem 1.2rem;
    align-self: flex-end;
    font-size: 1rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
}

#login-root>button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#login-loading-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

#login-loading-overlay>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

#sign-up-root {
    padding: 3rem 2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    overflow: hidden;
    border-radius: 15px;
    background: var(--bg-color-primary);
}

#sign-up-root>p {
    align-self: flex-start;
    font-size: 0.9rem;
}

#sign-up-root>input {
    width: 12rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#sign-up-root>input:focus {
    background: rgba(0, 0, 0, 0.4);
}

#sign-up-root>button {
    margin-top: 0.6rem;
    padding: 0.6rem 1.2rem;
    align-self: flex-end;
    font-size: 1rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
}

#sign-up-root>button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#sign-up-password-warning {
    width: calc(100% - 6rem);
    padding: 1rem;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.4);
    text-align: center;
}

#sign-up-loading-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

#sign-up-loading-overlay>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

#account-root {
    padding: 3rem 2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    overflow: hidden;
    border-radius: 15px;
    background: var(--bg-color-primary);
}

#account-root>p {
    align-self: flex-start;
    font-size: 0.9rem;
}

#account-root>p:first-child {
    margin-bottom: 1rem;
    align-self: initial;
    font-size: 1.6rem;
}

#account-root>p:nth-child(2) {
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}

#account-root>input {
    width: 12rem;
    margin-bottom: 0.8rem;
    padding: 0.6rem;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#account-root>input:focus {
    background: rgba(0, 0, 0, 0.4);
}

#account-root>button {
    padding: 0.6rem 0;
    align-self: stretch;
    font-size: 1rem;
    border-radius: 5px;
}

#account-update-button {
    margin-top: 0.6rem;
    background: rgba(0, 0, 0, 0.3);
}

#account-update-button:hover {
    background: rgba(0, 0, 0, 0.4);
}

#account-root>.divider {
    height: 1px;
    margin-top: 1.5rem;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.5);
}

#account-delete-button {
    margin-top: 1.5rem;
    background: rgba(255, 0, 0, 0.3);
}

#account-delete-button:hover {
    background: rgba(255, 0, 0, 0.4);
}

#account-loading-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

#account-loading-overlay>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

#playlist-root {
    height: calc(100% - 9rem);
    width: 100%;
    padding: 5rem 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist-root>p {
    text-align: center;
}

#playlist-title {
    margin-bottom: 2rem;
    font-size: 4rem;
}

#playlist-user-public-name {
    margin-bottom: 4rem;
}

#playlist-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#playlist-list>iframe {
    height: 36vw;
    width: 64vw;
}

#system-message-dialog {
    padding: 0.6rem 1.2rem;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
    background: var(--bg-color-primary);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

#system-message-dialog-content {
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}