<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Top Ten</title>
    <link rel="stylesheet" href="/app.css">
    <script th:inline="javascript" defer>
        const initialPath = /*[[${initialPath}]]*/ '/';
    </script>
    <script src="/app.js" defer></script>
</head>
<body>
<div id="top-bar-root">
    <div id="top-bar-left-section">
        <a id="top-bar-home-link">T/T</a>
    </div>
    <div id="top-bar-center-section">
        <div id="top-bar-search-root">
            <input id="top-bar-search-input" placeholder="Search for a user">
            <button id="top-bar-search-button">
                <p></p>
            </button>
        </div>
    </div>
    <div id="top-bar-right-section">
        <a id="top-bar-login-link" hidden>Login</a>
        <a id="top-bar-sign-up-link" hidden>Sign up</a>
        <a id="top-bar-account-link" hidden>Account</a>
        <a id="top-bar-logout-link" hidden>Logout</a>
    </div>
</div>
<div id="content-root">
    <div id="home-page-root" class="page-root" hidden>
        <div id="home-unauthenticated-root" hidden>
            <div id="home-unauthenticated-container">
                <p class="title">Top/Ten</p>
                <p>Narrow down your lifetime of favorite music into 10 songs.<br>The ultimate playlist to depict your music palette.</p>
                <p>Login or sign up to create your own list.</p>
                <a id="home-github-link" href="https://github.com/shinhugh/top-ten-playlist" target="_blank" rel="noopener noreferrer">Open-source on GitHub</a>
            </div>
        </div>
        <div id="home-authenticated-root" hidden>
            <div id="home-playlist-editor-root">
                <p>Playlist editor</p>
                <div id="home-playlist-editor-title">
                    <p>Title</p>
                    <input id="home-playlist-editor-title-input">
                </div>
                <div id="home-playlist-editor-entries-container"></div>
                <button id="home-playlist-editor-add-button"></button>
                <div id="home-playlist-editor-button-strip">
                    <button id="home-playlist-editor-clear-button">Clear</button>
                    <button id="home-playlist-editor-submit-button">Save</button>
                </div>
            </div>
        </div>
        <div id="home-loading-overlay" hidden>
            <p>Loading..</p>
        </div>
    </div>
    <div id="login-page-root" class="page-root" hidden>
        <div id="login-root">
            <p>Login ID</p>
            <input id="login-name-input">
            <p>Password</p>
            <input id="login-password-input" type="password">
            <button id="login-button">Login</button>
            <div id="login-loading-overlay" hidden>
                <p>Loading..</p>
            </div>
        </div>
    </div>
    <div id="sign-up-page-root" class="page-root" hidden>
        <div id="sign-up-root">
            <p>Login ID</p>
            <input id="sign-up-login-name-input">
            <p>Password</p>
            <input id="sign-up-password-input" type="password">
            <p>Public name</p>
            <input id="sign-up-public-name-input">
            <button id="sign-up-button">Register</button>
            <div id="sign-up-loading-overlay" hidden>
                <p>Loading..</p>
            </div>
        </div>
        <p id="sign-up-password-warning" hidden><strong>Do NOT reuse existing passwords or include confidential information when creating an account!</strong> Although password storage is encrypted and nothing is logged, the network communication is in plaintext (SSL certificates are very expensive).</p>
    </div>
    <div id="account-page-root" class="page-root" hidden>
        <div id="account-root">
            <p>Account settings</p>
            <p>Blank fields will remain unchanged.</p>
            <p>Login ID</p>
            <input id="account-login-name-input">
            <p>Password</p>
            <input id="account-password-input" type="password">
            <p>Public name</p>
            <input id="account-public-name-input">
            <button id="account-update-button">Update</button>
            <div class="divider"></div>
            <button id="account-delete-button">Delete account</button>
            <div id="account-loading-overlay" hidden>
                <p>Loading..</p>
            </div>
        </div>
    </div>
    <div id="playlist-page-root" class="page-root" hidden>
        <div id="playlist-root">
            <p id="playlist-title"></p>
            <p id="playlist-user-public-name"></p>
            <div id="playlist-list"></div>
        </div>
    </div>
</div>
<div id="system-message-dialog" hidden>
    <p id="system-message-dialog-content">System message</p>
</div>
</body>
</html>